NAMECHEAP_BASE_URL=https://www.namecheap.com
NAMECHEAP_LOGIN_URL=https://www.namecheap.com/myaccount/login/
NAMECHEAP_ACCOUNT_URL=https://ap.www.namecheap.com/
NAMECHEAP_USER_DATA_DIR=.namecheap-profile
NAMECHEAP_BROWSER_EXECUTABLE_PATH=
NAMECHEAP_HEADLESS=true
NAMECHEAP_SLOW_MO=0
NAMECHEAP_NAVIGATION_TIMEOUT_MS=30000
